{% extends 'base.html'%}

{%block title%}
About Us
{%endblock title%}

{%block body%}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">About Us</h1>
        <p class="lead font-weight-normal">Welcome to Carbon Tracker! We are passionate about sustainability and providing tools to help you make a difference in the fight against climate change.</p>
        
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Trusted by Environment Advocates</h2>
          <p class="lead">We are proud to be trusted by individuals and organizations globally for our reliable carbon tracking solutions that help reduce environmental impact.

          </p>
        </div>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Our Beliefs</h2>
          <p class="lead">Carbon Tracker is committed to providing easy-to-use tools that empower individuals and organizations to reduce their carbon footprint and protect the environment.

            We believe in the power of data and technology to drive positive change and create a more sustainable future for all.</p>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Our Team</h2>
          <p class="lead">Carbon Tracker was founded by a group of environmentalists and tech enthusiasts who are passionate about leveraging technology to drive positive environmental change.</p>
        </div>
      </div>
      
    </div>

    
{%endblock body%}