{% extends 'base.html'%}

{%block title%}
Home
{%endblock title%}

{%block body%}
<div class="container container-fluid">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading mt-4">Monitor Your Carbon Footprint</h1>
          <p class="lead text-muted">Take steps to reduce your environmental impact today!</p>
          
        </div>
      </section>

      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" 
              src="https://images.unsplash.com/photo-1577895853272-4c9e239b8599?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MzU2MjIzNzZ8&ixlib=rb-4.0.3&q=80&w=1080" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-text">Track Your Impact</h3>
                <p class="card-text">Easily track and monitor your carbon footprint to understand your environmental impact better.</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
              src="https://images.unsplash.com/photo-1565010917886-ee8c40ab2805?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MzU2MjIzNzZ8&ixlib=rb-4.0.3&q=80&w=1080" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-text">Reduce Emissions</h3>
                <p class="card-text">Take actionable steps to reduce your carbon emissions and make a positive impact on the environment.</p>
                
              </div>
            </div>
          </div>
          

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" 
              src="https://images.unsplash.com/photo-1561485614-83c225c47bf3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MzU2MjIzNzZ8&ixlib=rb-4.0.3&q=80&w=1080" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-text">Environmental Awareness</h3>
                <p class="card-text">Increase your awareness of your daily activities and their impact on the environment to make more sustainable choices.</p>
                
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail"
              src="https://images.unsplash.com/photo-1561623885-60b1ff3a83f3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzMzczODV8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MzU2MjIzNzZ8&ixlib=rb-4.0.3&q=80&w=1080" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-text">Comprehensive Tracking</h3>
                <p class="card-text">Our tool provides detailed insights and suggestions to help you reduce your carbon footprint effectively.</p>
                
              </div>
            </div>
          </div>

          </div>
          
          
        </div>
      </div>

</div>
{%endblock body%}